.row{

    padding-left: 0;
    padding-right: 0;

}
.col-lg-3{
    border-radius: 30px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    justify-items: center;
    align-items: center;


}

.card-body{
    border-radius: 30px;
    background-color: rgb(127, 209, 195);
    
}

.card{

    border-radius: 30px;
    left: 30%;
    right: 30%;
}
.card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transform: translateZ(50px) scale(1.5);
    transition: all 0.9s ease;
  }
  
h4{
    font-size: 30pt;
}



.card-img-top{

    border-radius: 20px;
}



.container-fluid{
    background-image: url(images/backgroundzacss.png);
    background-repeat: repeat;  
    padding: 20px;

}


  .page-item{
    color: blue;
    background-color: white;
    height: 50px;
    width: 100px;
  }
  .page-link.btn:hover {
    opacity: 0.8; /* smanjuje prozirnost gumba kada se pređe mišem preko njega */
  }

  
.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.page-item{

    color: blue;
}
.divprvi{
    color: none;
}

#divv{

    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1500px;

}